Lab_0/.vs/
Lab_0/Debug/
Lab_0/Lab_0/Debug/
Lab_1_SP/.vs/
Lab_1_SP/x64/
Lab_1_SP/Lab_1_SP/x64
Lab_1_SP/Lab_1_SP_Task_2/x64
lab_02/.vs/
lab_02/x64/
lab_02/Debug/
lab_02/task_01/Debug/
lab_02/task_01/x64/
lab_02/task_02/Debug/
