Lab_0/.vs/
Lab_0/Debug/
Lab_0/Lab_0/Debug/
Lab_1_SP/.vs/
Lab_1_SP/x64/
Lab_1_SP/Lab_1_SP/x64
Lab_1_SP/Lab_1_SP_Task_2/x64
Sp_lab_5/
lab_02/.vs/
lab_02/x64/
lab_02/Debug/
lab_02/task_01/Debug/
lab_02/task_01/x64/
lab_02/task_02/Debug/
Lab_4/.vs/
Lab_4/Debug/
Lab_4/Lab_4/Debug/
Lab_4/Lab_4_1/Debug/
Lab_5/Lab_5_1/.vs
Lab_5/Lab_5_1/Debug
Lab_5/Lab_5_1/Lab_5_1/Debug
Lab_5/Lab_5_2/.vs
Lab_5/Lab_5_2/Debug
Lab_5/Lab_5_2/Lab_5_2/Debug
Lab_5/Lab_5_3/.vs
Lab_5/Lab_5_3/Debug
Lab_5/Lab_5_3/Lab_5_3/Debug